.HeaderOption{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
    color: grey;
    cursor: pointer;
    font-size: .65rem;
}

.HeaderOption:active, .HeaderOption:hover{
    color: black;
    text-decoration: underline solid 2px;
}

.headerOption__icon{
    object-fit: contain;
    height: 25px;
    width: 25px;
} 